<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.header-layout == "landing" %} class="alt style2"{% endif %}{% if page.header-layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		{% assign ordered_pages = site.pages | where_exp: "item", "item.nav-order != nil" | sort: "nav-order" %}
		{% for page in ordered_pages %}
		    <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		{% endfor %}
	</ul>
	<ul class="actions vertical">
		<li><a href="#" class="button special fit">Get Started</a></li>
		<li><a href="#" class="button fit">Log In</a></li>
	</ul>
</nav>
